@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    background-color: transparent;
}



.div img {

    background-image: url(perfil.png);
    background-size: 100%;
    width: 175px;
    height: 175px;
    margin: auto;
    border-radius: 50%;
    background-color: yellow;
    border: 5px solid black;



}

a {
    text-decoration: none;
    font-size: 20px;
    color: yellow;
}

section {
    background-color: black;
    border-radius: 100px;
    max-width: 175px;
    margin: auto;
    padding: 5px;
}

.redes ul {
    margin-top: 50px;
    display: flex;
    border-style: none;
    justify-content: center;
    list-style: none;
}

.redes ul a {
    display: block;
    padding: 5px;
    border-style: none;


}

.redes ul li a img {
    border-radius: none;
    border-style: none;
    margin-inline: -20px;
    margin-right: 50px;
    width: 45px;

}